controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute


auth:
  path: '/api/auth'
  methods: ['POST']

api_token_invalidate:
    path: /api/token/invalidate
